---
import "../global.css";
import Item from "../components/item.astro";
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>TORO BURGER SOBRAL</title>
  </head>
  <body>
    <div class="grid min-h-screen bg-toro-3 place-content-center">
      <div class="w-[300px] md:w-[360px]">
        <div class="max-w-[160px] text-center mx-auto anim">
          <img src="/logo.png" alt="TORO BURGER" />
        </div>

        <div
          class="flex flex-col my-8 w-full gap-2 links text-xl font-light text-center justify-center items-center"
        >
          {
            [
              {
                classes: "bg-toro-6 h-24 w-[90%] rounded-t-full",
                layer: "layer-1",
                rotate: "rotate(-5deg)",
              },
              {
                classes: "bg-toro-1 w-[95%] rounded-full",
                text: "PEDE O SEU TORO AQUI",
                link: "/app",
                layer: "layer-2",
                rotate: "rotate(2deg)",
              },
              {
                classes: "bg-toro-4 w-[90%] rounded-full",
                text: "Pede pelo iFood",
                link: "/ifood",
                layer: "layer-3",
                rotate: "rotate(-3deg)",
              },
              {
                classes: "bg-toro-5 w-[105%] rounded-full",
                text: "Deu BO? Chama aqui.",
                link: "/whatsapp",
                layer: "layer-4",
                rotate: "rotate(2deg)",
              },
              {
                classes: "bg-toro-6 h-15 w-[90%] rounded-b-full",
                layer: "layer-6",
              },
            ].map((item) => (
              <Item
                classes={item.classes}
                text={item.text}
                link={item.link}
                layer={item.layer}
                rotate={item.rotate}
              />
            ))
          }
        </div>

        <div class="flex gap-2 justify-center font-semibold text-sm fade">
          <div class="flex items-center gap-1">
            <div>toroburgersobral</div>
            <a href="https://instagram.com/toroburgersobral" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width={800}
                height={800}
                viewBox="0 0 20 20"
                class="size-5"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M5.87.123C4.242.196 2.83.594 1.69 1.729.548 2.869.155 4.286.081 5.897.037 6.902-.231 14.498.545 16.49a5.04 5.04 0 0 0 2.91 2.903c.634.246 1.356.412 2.416.461 8.86.401 12.145.183 13.53-3.364.246-.631.415-1.353.462-2.41.405-8.883-.066-10.809-1.61-12.351C17.027.507 15.586-.325 5.87.123m.081 17.944c-.97-.043-1.496-.205-1.848-.341a3.255 3.255 0 0 1-1.888-1.883c-.591-1.514-.395-8.703-.342-9.866.051-1.14.282-2.18 1.086-2.985C3.954 2 5.24 1.513 13.993 1.908c1.142.052 2.186.282 2.992 1.084.995.993 1.489 2.288 1.087 11.008-.044.968-.206 1.493-.342 1.843-.901 2.308-2.973 2.628-11.779 2.224M14.09 4.69c0 .657.534 1.19 1.194 1.19.66 0 1.195-.533 1.195-1.19a1.194 1.194 0 0 0-2.39 0M4.864 9.988a5.103 5.103 0 0 0 5.11 5.097 5.103 5.103 0 0 0 5.109-5.097 5.102 5.102 0 0 0-5.11-5.096 5.102 5.102 0 0 0-5.11 5.096m1.794 0A3.313 3.313 0 0 1 9.972 6.68a3.313 3.313 0 0 1 3.317 3.308 3.313 3.313 0 0 1-3.317 3.31 3.313 3.313 0 0 1-3.316-3.31"
                ></path>
              </svg>
            </a>
            <a href="https://www.tiktok.com/@toroburgersobral" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width={800}
                height={800}
                viewBox="0 0 32 32"
                fill="currentColor"
                class="size-5"
                fill-rule="evenodd"
              >
                <path
                  d="M16.656 1.029c1.637-.025 3.262-.012 4.886-.025a7.762 7.762 0 0 0 2.189 5.213l-.002-.002A8.77 8.77 0 0 0 29 8.45l.028.002v5.036a13.327 13.327 0 0 1-5.331-1.247l.082.034a15.385 15.385 0 0 1-2.077-1.196l.052.034c-.012 3.649.012 7.298-.025 10.934a9.513 9.513 0 0 1-1.707 4.954l.02-.031c-1.652 2.366-4.328 3.919-7.371 4.011h-.014a9.071 9.071 0 0 1-5.139-1.31l.04.023C5.05 28.185 3.32 25.603 3 22.6l-.004-.041a23.163 23.163 0 0 1-.012-1.862c.49-4.779 4.494-8.476 9.361-8.476.547 0 1.083.047 1.604.136l-.056-.008c.025 1.849-.05 3.699-.05 5.548a4.29 4.29 0 0 0-5.465 2.619l-.009.03c-.133.427-.21.918-.21 1.426 0 .206.013.41.037.61l-.002-.024a4.26 4.26 0 0 0 4.382 3.586h-.009a4.198 4.198 0 0 0 3.451-1.994l.01-.018c.267-.372.45-.822.511-1.311l.001-.014c.125-2.237.075-4.461.087-6.698.012-5.036-.012-10.06.025-15.083z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  import { gsap } from "gsap";
  document.addEventListener("DOMContentLoaded", () => {
    gsap.from(".anim", {
      opacity: 0,
      y: -200,
      duration: 1,
      ease: "elastic.out(0.7,0.7)",
      stagger: {
        from: "end",
        amount: 0.5,
      },
      delay: 0.1,
    });

    gsap.from(".fade", {
      opacity: 0,
      duration: 1,
      y: 50,
      delay: 0.2,
    });
  });

  document.querySelectorAll("a.anim").forEach((element) => {
    element.addEventListener("mouseover", () => {
      gsap.to(element, {
        scale: 1.05,
        duration: 0.3,
        zIndex: 10,
        ease: "power1.out",
      });
    });

    element.addEventListener("mouseout", () => {
      gsap.to(element, {
        scale: 1,
        duration: 0.3,
        zIndex: 0,
        ease: "power1.out",
      });
    });

    element.addEventListener("click", () => {
      gsap.to(element, {
        scale: 0.8,
        duration: 0.5,
        ease: "elastic.out(1,0.4)",
      });
    });
  });
</script>
